* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins";
}
nav {
  display: flex;
  align-content: center;
  padding: 20px 36px;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}
.logo-el {
  max-width: 100px;
}
.hero-el {
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.hero-pic {
  width: 1000px;
  align-self: center;
}
.hero-title {
  letter-spacing:0.7rem;
  padding-left: 20px;
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 50px;
  line-height: 110%;
}
.hero-text {
  padding-left: 23px;
  width: 380px;
  margin-top: 0;
  font-size: 20px;
  line-height: 110%;
  margin-bottom: 40px;
}
/* Cards styling */

.cards-list {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 6.5rem;
  overflow-x: auto;
}
.card {
  position: relative;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  max-width: 15em;
  /* padding: 1.25em 2.25em; */
}

.card-image {
  border-radius: 9px;
  margin-bottom: 1.25em;
  max-height: 300px;
}

.card-stats {
  display: flex;
  align-items: center;
}

.card-title {
  line-height: 1.2;
  overflow: hidden;
}

.card-star {
  display: inline-block;
  max-width: 1em;
}
.card-price {
  margin-top: auto;
}